<div>
<div class="col-md-8">
<div class="todos">
	<div style="margin-bottom:22px">
		<span class="btn btn-success add"><i class="fa fa-plus"></i> Add New</span>
	</div>

	<div class="list-group todo-list"></div>
</div>
</div>
<div class="col-md-4">
	<h3>Quick Add</h3>
	<div class="quick">
	</div>
</div>
</div>

