<a href="#" class="list-group-item " style="overflow:hidden;{{#completed}}text-decoration: line-through;{{/completed}}">
	<span class="btn btn-danger delete pull-right"> Delete</span>
	<i class="completed pull-left fa fa-{{#completed}}check-{{/completed}}square-o" style="font-size:24px;padding-right:5px;margin-right:10px"></i>
	<div>{{name}}</div>
	<div class="text-muted">{{description}}</div>
 </a>